EMAIL_APP_PASSWORD=
EMAIL_USER=
GEMINI_API_KEY=
GEMINI_API_KEY_2=
GOOGLE_API_KEY=
GOOGLE_DRIVE_FOLDER_ID=
GOOGLE_SERVICE_ACCOUNT_KEY=
SUPABASE_SERVICE_ROLE_KEY=
VITE_SUPABASE_ANON_KEY=
VITE_SUPABASE_URL=